**Customer Clustering / Clustering**

In [121]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings
warnings.filterwarnings("ignore")

In [122]:
customers = pd.read_csv("customers.csv")
transactions = pd.read_csv("transactions.csv")

In [123]:
customers

    CustomerID        CustomerName         Region  SignupDate
0        C0001    Lawrence Carroll  South America  2022-07-10
1        C0002      Elizabeth Lutz           Asia  2022-02-13
2        C0003      Michael Rivera  South America  2024-03-07
3        C0004  Kathleen Rodriguez  South America  2022-10-09
4        C0005         Laura Weber           Asia  2022-08-15
..         ...                 ...            ...         ...
195      C0196         Laura Watts         Europe  2022-06-07
196      C0197    Christina Harvey         Europe  2023-03-21
197      C0198         Rebecca Ray         Europe  2022-02-27
198      C0199      Andrea Jenkins         Europe  2022-12-03
199      C0200         Kelly Cross           Asia  2023-06-11

[200 rows x 4 columns]

In [124]:
transactions

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68
...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86

In [125]:
transactions.columns

Index(['TransactionID', 'CustomerID', 'ProductID', 'TransactionDate',
       'Quantity', 'TotalValue', 'Price'],
      dtype='object')

In [126]:
# Group by CustomerID and aggregate transaction features

transactions_features = transactions.groupby("CustomerID").agg(
    TotalSpend = ("TotalValue", "sum"),
    TransactionFrequency = ("TransactionID", "count"),
    AverageTransactionValue = ("TotalValue", "mean"),
).reset_index()

transactions_features

    CustomerID  TotalSpend  TransactionFrequency  AverageTransactionValue
0        C0001     3354.52                     5               670.904000
1        C0002     1862.74                     4               465.685000
2        C0003     2725.38                     4               681.345000
3        C0004     5354.88                     8               669.360000
4        C0005     2034.24                     3               678.080000
..         ...         ...                   ...                      ...
194      C0196     4982.88                     4              1245.720000
195      C0197     1928.65                     3               642.883333
196      C0198      931.83                     2               465.915000
197      C0199     1979.28                     4               494.820000
198      C0200     4758.60                     5               951.720000

[199 rows x 4 columns]

In [127]:
# Merging customer profile information with transaction features

customer_features = pd.merge(customers, transactions_features, on="CustomerID", how="inner")
customer_features

,CustomerID,CustomerName,Region,SignupDate,TotalSpend,TransactionFrequency,AverageTransactionValue
0,C0001,Lawrence Carroll,South America,2022-07-10,3354.52,5,670.904000
1,C0002,Elizabeth Lutz,Asia,2022-02-13,1862.74,4,465.685000
2,C0003,Michael Rivera,South America,2024-03-07,2725.38,4,681.345000
3,C0004,Kathleen Rodriguez,South America,2022-10-09,5354.88,8,669.360000
4,C0005,Laura Weber,Asia,2022-08-15,2034.24,3,678.080000
...,...,...,...,...,...,...,...
194,C0196,Laura Watts,Europe,2022-06-07,4982.88,4,1245.720000
195,C0197,Christina Harvey,Europe,2023-03-21,1928.65,3,642.883333
196,C0198,Rebecca Ray,Europe,2022-02-27,931.83,2,465.915000
197,C0199,Andrea Jenkins,Europe,2022-12-03,1979.28,4,494.820000
198,C0200,Kelly Cross,Asia,2023-06-11,4758.60,5,951.720000

In [128]:
# Select numeric features

numeric_features = customer_features.select_dtypes(include=[np.number])
numeric_features

     TotalSpend  TransactionFrequency  AverageTransactionValue
0       3354.52                     5               670.904000
1       1862.74                     4               465.685000
2       2725.38                     4               681.345000
3       5354.88                     8               669.360000
4       2034.24                     3               678.080000
..          ...                   ...                      ...
194     4982.88                     4              1245.720000
195     1928.65                     3               642.883333
196      931.83                     2               465.915000
197     1979.28                     4               494.820000
198     4758.60                     5               951.720000

[199 rows x 3 columns]

In [129]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import davies_bouldin_score
from sklearn.metrics import silhouette_score

In [130]:
# Apply StandardScaler to scale the features

scaler = StandardScaler()
customer_features_scaled = scaler.fit_transform(numeric_features)
customer_features_scaled

array([[-6.17014282e-02, -1.14581896e-02, -7.02634115e-02],
       [-8.77743532e-01, -4.67494136e-01, -9.34932971e-01],
       [-4.05857221e-01, -4.67494136e-01, -2.62713110e-02],
       [ 1.03254704e+00,  1.35664965e+00, -7.67688998e-02],
       [-7.83928612e-01, -9.23530083e-01, -4.00280592e-02],
       [ 4.15879421e-01, -4.67494136e-01,  1.55606020e+00],
       [-4.85482293e-01, -9.23530083e-01,  7.26220709e-01],
       [ 4.39970436e-01,  2.26872154e+00, -1.09724996e+00],
       [-1.40630171e+00, -9.23530083e-01, -1.63794564e+00],
       [-9.57166204e-01, -4.67494136e-01, -1.08786883e+00],
       [ 1.43695808e-01, -1.14581896e-02,  2.46146011e-01],
       [ 9.64923716e-01,  9.00613703e-01,  2.51719736e-01],
       [ 1.38575064e+00,  9.00613703e-01,  7.14772302e-01],
       [-1.72239508e+00, -1.83560198e+00, -1.55440798e+00],
       [-1.26353893e+00, -1.37956603e+00, -4.58587130e-01],
       [ 2.22697270e-01, -1.14581896e-02,  3.67845832e-01],
       [ 7.03751732e-01,  1.35664965e+00, -3.93332111e-01],
       [ 7.19084865e-01, -1.14581896e-02,  1.13251879e+00],
       [-7.01010446e-01,  4.44577757e-01, -1.36209440e+00],
       [-1.39212827e+00, -1.83560198e+00,  9.89431754e-01],
       [ 1.06812560e+00,  1.35664965e+00, -4.25139647e-02],
       [ 6.49732938e-01,  4.44577757e-01,  3.71894908e-01],
       [ 9.25204175e-01,  4.44577757e-01,  7.25525498e-01],
       [ 8.73630943e-02,  9.00613703e-01, -7.13895042e-01],
       [-1.02704328e+00, -4.67494136e-01, -1.22242373e+00],
       [ 4.47114950e-02, -4.67494136e-01,  8.41341307e-01],
       [-4.94716088e-01, -4.67494136e-01, -1.97377450e-01],
       [ 1.83377022e+00,  1.35664965e+00,  6.94646549e-01],
       [-9.19793403e-01, -4.67494136e-01, -1.01590397e+00],
       [-5.01969649e-01, -1.14581896e-02, -7.48485845e-01],
       [-7.99715776e-01, -4.67494136e-01, -7.84683157e-01],
       [-1.52856197e+00, -9.23530083e-01, -1.95184388e+00],
       [-1.82415282e+00, -1.83560198e+00, -2.33818449e+00],
       [-2.15590718e-01,  4.44577757e-01, -7.38946709e-01],
       [-4.81220962e-01, -4.67494136e-01, -1.71391311e-01],
       [-8.69417800e-01, -9.23530083e-01, -2.59518065e-01],
       [ 4.29664470e-01, -1.14581896e-02,  6.86673745e-01],
       [-4.21463867e-01, -1.14581896e-02, -6.24468655e-01],
       [ 4.22460141e-01,  4.44577757e-01,  8.01380844e-02],
       [ 2.74653778e-01, -9.23530083e-01,  2.67783910e+00],
       [ 1.46737783e+00,  9.00613703e-01,  8.04589933e-01],
       [-5.82486372e-01, -9.23530083e-01,  4.77166686e-01],
       [-1.27784912e+00, -9.23530083e-01, -1.30814884e+00],
       [-1.29756904e-01, -9.23530083e-01,  1.63953115e+00],
       [ 1.39736947e+00,  9.00613703e-01,  7.27556959e-01],
       [ 1.18185773e+00,  9.00613703e-01,  4.90420836e-01],
       [-3.26450961e-01,  9.00613703e-01, -1.16923107e+00],
       [ 2.09853105e-01, -1.14581896e-02,  3.48059709e-01],
       [-6.30083085e-01,  1.35664965e+00, -1.67754457e+00],
       [-2.17981221e-01, -9.23530083e-01,  1.41301881e+00],
       [ 1.22110135e+00,  9.00613703e-01,  5.33602158e-01],
       [-5.35704728e-01, -4.67494136e-01, -2.76304950e-01],
       [ 1.01153031e+00,  4.44577757e-01,  8.36344918e-01],
       [ 2.50159022e+00,  1.35664965e+00,  1.33762179e+00],
       [-3.33485712e-01, -1.14581896e-02, -4.88940458e-01],
       [-1.55560110e-01, -1.14581896e-02, -2.14850417e-01],
       [ 5.84817389e-01,  4.44577757e-01,  2.88560895e-01],
       [-1.67990212e+00, -1.83560198e+00, -1.22711113e+00],
       [ 1.97255613e+00,  1.35664965e+00,  8.28269237e-01],
       [-1.85165727e+00, -1.83560198e+00, -2.55003420e+00],
       [-7.27026992e-01, -9.23530083e-01,  1.06064534e-01],
       [-9.99839684e-01, -9.23530083e-01, -5.94370940e-01],
       [-1.14281581e+00, -1.37956603e+00,  6.34039835e-03],
       [ 3.13147981e-01, -1.14581896e-02,  5.07182941e-01],
       [ 2.29553108e+00,  2.26872154e+00,  3.31972951e-01],
       [ 1.81593753e-01, -9.23530083e-01,  2.43891128e+00],
       [ 3.41084587e-01,  4.44577757e-01, -2.43261251e-02],
       [ 1.35832277e+00,  1.35664965e+00,  2.36887066e-01],
       [-3.21992700e-01, -1.14581896e-02, -4.71235755e-01],
       [-1.86986740e-01, -4.67494136e-01,  3.95184472e-01],
       [-1.13042021e+00, -9.23530083e-01, -9.29631110e-01],
       [-2.55857285e-01, -1.14581896e-02, -3.69355763e-01],
       [-7.69541835e-01, -9.23530083e-01, -3.09059340e-03],
       [-2.25426241e-01, -9.23530083e-01,  1.39390403e+00],
       [ 1.30282700e+00,  1.81268560e+00, -1.58822507e-01],
       [-6.20466372e-01, -1.14581896e-02, -9.31027150e-01],
       [-1.43868564e+00, -9.23530083e-01, -1.72109005e+00],
       [-1.35213522e+00, -1.83560198e+00,  1.29747337e+00],
       [ 4.29002569e-01, -4.67494136e-01,  1.58133007e+00],
       [-1.34557091e+00, -1.83560198e+00,  1.34803416e+00],
       [ 4.11175356e-02,  4.44577757e-01, -4.09402718e-01],
       [ 2.24586661e+00,  9.00613703e-01,  1.66119204e+00],
       [-1.54508215e+00, -9.23530083e-01, -1.99425876e+00],
       [ 5.32685833e-01,  1.81268560e+00, -8.17924536e-01],
       [-4.75356845e-01, -9.23530083e-01,  7.52217382e-01],
       [-3.89829366e-01, -1.14581896e-02, -5.75736480e-01],
       [ 1.71597369e+00,  9.00613703e-01,  1.07812983e+00],
       [-7.28602426e-01, -1.14581896e-02, -1.09760810e+00],
       [-4.98392101e-01, -1.37956603e+00,  2.48813783e+00],
       [ 3.66969847e-01,  9.00613703e-01, -4.06232636e-01],
       [-1.80329437e-01,  4.44577757e-01, -6.93680758e-01],
       [-2.46907943e-01, -4.67494136e-01,  2.79800536e-01],
       [ 9.99785669e-01,  1.81268560e+00, -4.18171269e-01],
       [-1.25834765e+00, -4.67494136e-01, -1.66782215e+00],
       [-1.19418153e+00, -1.37956603e+00, -1.91478692e-01],
       [ 1.42533343e+00, -1.14581896e-02,  2.22047744e+00],
       [-1.82147239e+00, -1.83560198e+00, -2.31753883e+00],
       [-1.69191992e-01,  1.35664965e+00, -1.23379991e+00],
       [ 1.77696159e+00,  1.35664965e+00,  6.39951362e-01],
       [ 8.40305775e-01,  4.44577757e-01,  6.16538907e-01],
       [ 1.13982427e+00,  1.35664965e+00,  2.65173135e-02],
       [ 1.45784864e+00,  1.35664965e+00,  3.32710296e-01],
       [-5.49632005e-01, -1.14581896e-02, -8.21908539e-01],
       [ 1.70222693e+00,  1.35664965e+00,  5.67997038e-01],
       [ 7.33088724e-01,  4.44577757e-01,  4.78901202e-01],
       [-2.88837469e-01, -1.14581896e-02, -4.20160930e-01],
       [ 8.56673144e-02, -1.14581896e-02,  1.56754534e-01],
       [ 7.55566013e-01,  9.00613703e-01,  2.13551472e-02],
       [ 1.10495684e+00,  2.72475749e+00, -7.95233892e-01],
       [-1.38123699e+00, -1.83560198e+00,  1.07332053e+00],
       [-8.17417530e-01, -1.14581896e-02, -1.23442560e+00],
       [-8.24807848e-01, -9.23530083e-01, -1.44983832e-01],
       [ 7.35632394e-01,  1.35664965e+00, -3.62637498e-01],
       [ 1.26533386e+00, -1.14581896e-02,  1.97400201e+00],
       [-1.80592009e-01, -9.23530083e-01,  1.50901409e+00],
       [-3.87641263e-01,  4.44577757e-01, -9.59813093e-01],
       [ 3.06857185e-01, -4.67494136e-01,  1.34612759e+00],
       [-1.78026101e-02,  4.44577757e-01, -4.85040255e-01],
       [-1.24486894e+00, -1.14581896e-02, -1.89290404e+00],
       [-5.45545722e-01, -9.23530083e-01,  5.72010301e-01],
       [-1.36362276e+00, -4.67494136e-01, -1.87053932e+00],
       [ 8.78105256e-01,  9.00613703e-01,  1.56189939e-01],
       [-1.13084142e+00, -1.37956603e+00,  5.24560520e-02],
       [ 4.35988088e-01,  9.00613703e-01, -3.30289126e-01],
       [-2.69877555e-01, -4.67494136e-01,  2.35570379e-01],
       [ 6.00774131e-01,  4.44577757e-01,  3.09045038e-01],
       [-1.28241643e-01,  4.44577757e-01, -6.26814114e-01],
       [-1.47375546e+00, -1.37956603e+00, -1.26817071e+00],
       [-6.16883353e-01, -9.23530083e-01,  3.88853840e-01],
       [-1.56775090e+00, -1.83560198e+00, -3.63280042e-01],
       [-8.33390682e-01, -9.23530083e-01, -1.67019909e-01],
       [-8.84023388e-01, -9.23530083e-01, -2.97017318e-01],
       [-3.18907475e-01, -4.67494136e-01,  1.41158638e-01],
       [-4.31075109e-01, -1.14581896e-02, -6.39274539e-01],
       [-1.81467250e-01, -4.67494136e-01,  4.05812771e-01],
       [ 4.54948001e-01,  4.44577757e-01,  1.21843714e-01],
       [-7.37195843e-02, -1.14581896e-02, -8.87770874e-02],
       [ 1.17224101e+00, -1.14581896e-02,  1.83059476e+00],
       [ 1.29276209e-01,  1.35664965e+00, -9.46435550e-01],
       [-8.63849077e-01, -1.37956603e+00,  1.08069398e+00],
       [ 3.94217164e+00,  2.26872154e+00,  1.60027772e+00],
       [-6.71897735e-01, -4.67494136e-01, -5.38557446e-01],
       [ 1.40985807e+00,  9.00613703e-01,  7.41298659e-01],
       [-1.18301673e+00, -1.37956603e+00, -1.48480953e-01],
       [ 1.26032310e+00,  1.35664965e+00,  1.42533259e-01],
       [-4.90416465e-01, -4.67494136e-01, -1.89098121e-01],
       [-2.83837653e-01,  1.81268560e+00, -1.51672147e+00],
       [ 1.08884146e+00, -1.14581896e-02,  1.70211979e+00],
       [ 5.12817857e-01, -1.14581896e-02,  8.14769506e-01],
       [-1.57924938e+00, -1.83560198e+00, -4.51845692e-01],
       [-1.77419842e+00, -1.83560198e+00, -1.95341688e+00],
       [-4.45576405e-02, -1.14581896e-02, -4.38538257e-02],
       [ 6.98812090e-01,  4.44577757e-01,  4.34899270e-01],
       [ 1.29259798e-01,  4.44577757e-01, -2.96251884e-01],
       [ 1.04510128e+00,  9.00613703e-01,  3.39942295e-01],
       [ 2.27953058e+00,  2.72475749e+00,  2.72216215e-02],
       [-8.70435268e-01, -1.14581896e-02, -1.31609812e+00],
       [ 1.36321901e-01, -4.67494136e-01,  1.01774580e+00],
       [-7.63048639e-01, -9.23530083e-01,  1.35804225e-02],
       [-2.95604177e-01, -1.14581896e-02, -4.30584880e-01],
       [-1.78048339e-01,  1.35664965e+00, -1.24232677e+00],
       [ 7.30238720e-01,  1.35664965e+00, -3.67830513e-01],
       [ 1.26251668e+00,  4.44577757e-01,  1.15854355e+00],
       [-2.07664314e-01, -1.14581896e-02, -2.95115670e-01],
       [ 1.77279325e+00,  1.81268560e+00,  2.43383893e-01],
       [-5.80921879e-01, -4.67494136e-01, -3.63374843e-01],
       [-6.38321293e-01, -9.23530083e-01,  3.33812802e-01],
       [ 8.67864934e-01, -4.67494136e-01,  2.42640100e+00],
       [ 5.83132550e-01,  4.44577757e-01,  2.86398017e-01],
       [ 8.01078557e-01, -1.14581896e-02,  1.25882807e+00],
       [ 9.17928732e-01, -1.14581896e-02,  1.43883291e+00],
       [-6.92323677e-01,  4.44577757e-01, -1.35094294e+00],
       [ 1.28043724e+00,  1.35664965e+00,  1.61899095e-01],
       [-3.14739139e-01, -1.14581896e-02, -4.60061820e-01],
       [ 1.50060964e+00,  2.26872154e+00, -2.80305572e-01],
       [-6.21418196e-01, -9.23530083e-01,  3.77210813e-01],
       [-5.23779567e-01, -4.67494136e-01, -2.53341924e-01],
       [-4.14910498e-01, -4.67494136e-01, -4.37042500e-02],
       [ 1.01481829e-01,  4.44577757e-01, -3.31911285e-01],
       [-6.54868465e-02,  4.44577757e-01, -5.46253922e-01],
       [ 8.27899231e-01, -1.14581896e-02,  1.30014466e+00],
       [ 2.09459246e-01, -1.14581896e-02,  3.47452980e-01],
       [-4.05534119e-02,  9.00613703e-01, -8.54646650e-01],
       [-2.35190294e-02, -9.23530083e-01,  1.91229257e+00],
       [-9.33047837e-01, -9.23530083e-01, -4.22885595e-01],
       [ 6.26413229e-01, -1.14581896e-02,  9.89760399e-01],
       [ 1.99336499e+00,  1.35664965e+00,  8.48303950e-01],
       [-4.50806329e-01, -1.14581896e-02, -6.69670001e-01],
       [-2.64921502e-01, -1.14581896e-02, -3.83318968e-01],
       [-2.56743467e-01, -1.14581896e-02, -3.70720905e-01],
       [-7.62879061e-01, -4.67494136e-01, -7.13750583e-01],
       [-2.50551135e-01, -4.67494136e-01,  2.72785227e-01],
       [ 2.19825385e-01,  9.00613703e-01, -5.68141527e-01],
       [ 3.11233391e-01,  4.44577757e-01, -6.26469903e-02],
       [ 8.29053455e-01, -4.67494136e-01,  2.35166583e+00],
       [-8.41689063e-01, -9.23530083e-01, -1.88325664e-01],
       [-1.38697529e+00, -1.37956603e+00, -9.33963889e-01],
       [-8.13993149e-01, -4.67494136e-01, -8.12175587e-01],
       [ 7.06366516e-01, -1.14581896e-02,  1.11292648e+00]])

In [ ]:
# Step 4: Choose clustering algorithm (K-Means in this case)
# Let's try different values for the number of clusters (between 2 and 10)

# Clustering analysis
cluster_range = range(2, 11)
db_index_scores = []
silhouette_scores = []
inertia_values = []

for k in cluster_range:
    kmeans = KMeans(n_clusters=k, random_state=42)
    labels = kmeans.fit_predict(customer_features_scaled)
    
    # Evaluation metrics
    db_index_scores.append(davies_bouldin_score(customer_features_scaled, labels))
    silhouette_scores.append(silhouette_score(customer_features_scaled, labels))
    inertia_values.append(kmeans.inertia_)

In [ ]:
# Step 5: Visualize DB Index, Silhouette Score, and Inertia to decide optimal k

import matplotlib.pyplot as plt

# Plot evaluation metrics
plt.figure(figsize=(15, 5))

plt.subplot(1, 3, 1)
plt.plot(cluster_range, db_index_scores, marker='o', color='red', linestyle='--', linewidth=2)
plt.title("Davies-Bouldin Index vs Number of Clusters", fontsize=14)
plt.xlabel("Number of Clusters", fontsize=12)
plt.ylabel("Davies-Bouldin Index", fontsize=12)
plt.grid(alpha=0.5)  # Add grid for better visualization

plt.show()

In [ ]:
# Plot Silhouette Score
plt.subplot(1, 3, 2)
plt.plot(cluster_range, silhouette_scores, marker='o', color='red', linestyle='-.', linewidth=2)
plt.title("Silhouette Score vs Number of Clusters", fontsize=14)
plt.xlabel("Number of Clusters", fontsize=12)
plt.ylabel("Silhouette Score", fontsize=12)
plt.grid(alpha=0.5)  # Add grid for better visualization

In [ ]:
# Plot Inertia
plt.subplot(1, 3, 3)
plt.plot(cluster_range, inertia_values, marker='o', color='crimson', linestyle='-', linewidth=2)
plt.title("Inertia vs Number of Clusters", fontsize=14)
plt.xlabel("Number of Clusters", fontsize=12)
plt.ylabel("Inertia", fontsize=12)
plt.grid(alpha=0.5)  # Add grid for better visualization

# Adjust layout and display all plots
plt.tight_layout()
plt.show()

In [ ]:
#Step 6: Choose the optimal number of clusters (based on the plots)

optimal_clusters = 4 # Example: Choose 4 clusters based on the evaluation metrics

In [ ]:
# Step 7: Perform K-Means clustering with the chosen number of clusters

kmeans = KMeans(n_clusters=optimal_clusters, random_state=42)
customer_features_scaled_kmeans = kmeans.fit_predict(customer_features_scaled)

In [ ]:
customer_features

In [ ]:
# Step 8: Visualize the clusters using PCA for dimensionality reduction
# PCA for dimensionality reduction

pca = PCA(n_components=2)
customer_features_pca = pca.fit_transform(customer_features_scaled)

In [ ]:
# Visualize clusters with PCA
plt.figure(figsize=(8, 6))
sns.scatterplot(
    x=customer_features_pca[:, 0], y=customer_features_pca[:, 1],
    hue=customer_features_scaled_kmeans, palette="Set1",
    s=50, alpha=0.7
)
plt.title("Customer Segmentation (PCA Projection)")
plt.xlabel("PCA Component 1")
plt.ylabel("PCA Component 2")
plt.legend(title="Cluster")
plt.show()

In [ ]:
from sklearn.manifold import TSNE

# Visualize clusters with t-SNE
tsne = TSNE(n_components=2, random_state=42)
customer_features_tsne = tsne.fit_transform(customer_features_scaled)

plt.figure(figsize=(8, 6))
sns.scatterplot(
    x=customer_features_tsne[:, 0], y=customer_features_tsne[:, 1],
    hue=customer_features_scaled_kmeans, palette="Set2",
    s=50, alpha=0.7
)
plt.title("Customer Segmentation (t-SNE Visualization)")
plt.xlabel("t-SNE Component 1")
plt.ylabel("t-SNE Component 2")
plt.legend(title="Cluster")
plt.show()

In [ ]:
# Step 9: Cluster interpretation
# Optimal number of clusters (example: 4 clusters based on evaluation)

optimal_clusters = 4
kmeans = KMeans(n_clusters=optimal_clusters, random_state=42)
customer_features['Cluster'] = kmeans.fit_predict(customer_features_scaled)

# Ensure the 'Cluster' column exists
if 'Cluster' not in customer_features.columns:
    print("Error: 'Cluster' column is missing in the DataFrame.")

In [ ]:
# Step 10: Save the final clustering results

customer_features.to_csv("Customer_Segmentation_Results.csv", index=False)

In [ ]:
# Optional: Evaluate cluster quality using Davies-Bouldin Index and Silhouette Score

db_index = davies_bouldin_score(customer_features_scaled, customer_features['Cluster'])
silhouette = silhouette_score(customer_features_scaled, customer_features['Cluster'])

In [ ]:
print(f'Davies-Bouldin Index: {db_index}')
print(f'Silhouette Score: {silhouette}')

In [ ]:
customer_features['Cluster'].value_counts()

In [ ]:
customer_features.head()

In [ ]:
cluster_counts = customer_features["Cluster"].value_counts()

colors = sns.color_palette("RdYlGn", len(cluster_counts))

explode = [0.1 if i == max(cluster_counts) else 0 for i in cluster_counts]

# Plot the pie chart
plt.figure(figsize=(17, 8))
patches, texts, autotexts = plt.pie(
    cluster_counts, 
    labels=cluster_counts.index, 
    autopct=lambda p: f'{int(p * sum(cluster_counts) / 100)}', 
    colors=colors, 
    explode=explode, 
    shadow=True, 
    startangle=140, 
    labeldistance=1.1
)
for text in texts + autotexts:
    text.set_fontsize(8.5)

plt.legend(patches, cluster_counts.index, loc='best', bbox_to_anchor=(1, 0.5))

plt.title('Cluster Distribution', loc="center")

plt.axis('equal')

plt.show()

In [ ]:
customer_features.Cluster.value_counts()